@use '~bootstrap/scss/bootstrap';
@use './partials/header';
@use './partials/welcome';
@use './partials/login';
@use './partials/register';
@use './partials/banner';
@use './partials/dishes';
@use './partials/orders';
@use './partials/dish';
@use './partials/buttons';
@use './partials/form';
@use './partials/notFound';
@use './partials/variables' as *;


html {
    scrollbar-color: $boo-gray-800 transparent;
}

body {
    font-family: "Poppins", sans-serif;
    color: $boo-lighter;
    background-color: $boo-dark;
}