@use '~bootstrap/scss/bootstrap';
@use './partials/header';
@use './partials/banner';
@use './partials/dishes';
@use './partials/orders';
@use './partials/dish';
@use './partials/variables' as *;


body {
    font-family: "Poppins", sans-serif;
    color: $boo-lighter;
    background-color: $boo-dark;
}