@use './variables' as *;

.btn_primary {
    background-color: $boo-primary;
    padding-inline: 2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5rem;
    color: $boo-lighter;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-color: $boo-primary;

    &::after {
        position: absolute;
        content: '';
        width: 200px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $boo-darker;
        z-index: -1;
        transform: translate(-100%, 100%) scale(.5);
        transition: transform .4s ease;
    }

    &:hover::after {
        transform: translate(0%, 0%) scale(1);
    }

    &:hover {
        border-color: $boo-gray-700;
    }
}

.btn_dark {
    background-color: $boo-gray-600;
    padding-inline: 2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5rem;
    color: $boo-lighter;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-color: $boo-gray-600;


    &::after {
        position: absolute;
        content: '';
        width: 200px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $boo-darker;
        z-index: -1;
        transform: translate(-100%, 100%) scale(.5);
        transition: transform .4s ease;
    }

    &:hover::after {
        transform: translate(0%, 0%) scale(1);
    }

    &:hover {
        border-color: $boo-gray-700;
    }
}