@use './variables' as *;


.orders {
    margin-bottom: 15rem;
    width: 100%;
    background-color: $boo-gray-800;
    padding: 4rem 2.6rem 3rem 2.6rem;
    border-radius: 2rem;
    color: $boo-lighter;
    position: relative;

    .title {

        h2 {
            color: $boo-primary;
            font-family: "Rubik", sans-serif;
        }

        .total_orders {
            span:first-child {
                color: $boo-gray-500;
                display: inline-block;
                margin-right: .5rem;
            }

            span:last-child {
                display: inline-block;
                color: $boo-primary;
                background-color: $boo-darker;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: normal;
            }
        }
    }


    .cols_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .4rem;
        color: $boo-gray-500;
        font-size: .9rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid $boo-gray-700;
        // border-bottom: 1px solid black;

        div {
            width: 100%;
        }

        .actions {
            width: 36%;
            display: flex;
            justify-content: end;
            white-space: nowrap;
        }
    }

    .order {
        border-bottom: 1px solid $boo-gray-700;
        // border-bottom: 1px solid black;
        padding: .5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .9rem;

        .name {
            font-weight: 600;
            font-size: .9rem;
            color: $boo-secondary-dark;
            font-family: "Rubik", sans-serif;
        }

        div {
            width: 100%;
        }

        .actions {
            width: 36%;
            display: flex;
            justify-content: end;

            a {
                display: flex;
                align-items: end;
                background-color: $boo-dark;
                padding: .7rem 1.5rem;
                border-radius: 50px;
                text-decoration: none;
                transition: .2s ease;

                &:hover {
                    background-color: $boo-darker;
                }

                img {
                    display: block;
                    margin-right: .5rem;
                }

                span {
                    white-space: nowrap;
                    color: $boo-gray-500;
                }
            }
        }
    }

    .no_orders {
        padding-top: 4rem;
        padding-bottom: 2rem;
        text-align: center;
        margin: auto;


        a {
            color: $boo-primary;
        }
    }
}

// media queries ----------------------------------------> 

@media screen and (max-width: 780px) {

    .price {
        display: none;
    }

    .date {
        display: none;
    }

}

@media screen and (max-width: 960px) {

    .price {
        display: none;
    }
}