@use './variables' as *;

.register_form {
    max-width: 1080px;
    margin: auto;
    background-color: $boo-gray-800;
    border-radius: 2rem;
    // overflow: hidden;
    position: relative;
    color: $boo-lighter;
    padding: 1rem 2.2rem 3rem 2.2rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.381);
    margin-bottom: 20rem;

    .top {
        .title {
            display: flex;
            align-items: end;
            padding-inline: 1.5rem;
            padding-bottom: 1rem;
            white-space: nowrap;
            padding-top: 3rem;

            h5 {
                font-size: 2.4rem;
                font-family: "Rubik", sans-serif;
                font-weight: bold;
                color: $boo-gray-500;
                letter-spacing: 1px;
                margin-right: 1rem;
            }

            hr {
                width: 100%;
                color: $boo-gray-600;
                padding-bottom: 3px;
            }

            img {
                width: 32px;
                transform: translateY(-16px);
                margin-left: 1rem;
            }
        }

        .custom_label {
            padding-inline: 1.5rem;
            color: $boo-primary;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
            margin-top: 2rem;
        }

        .inputs {

            .form_input {
                margin-top: 1.6rem;
                position: relative;

                label {
                    padding-inline: 1.5rem;
                    color: $boo-primary;
                    padding-bottom: .4rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 500;
                }

                input {
                    height: 58px;
                    border-radius: 58px;
                    background-color: $boo-gray-700;
                    border-color: $boo-gray-700;
                    padding-inline: 2rem;
                    color: $boo-lighter;
                    font-size: 1.1rem;
                    caret-color: $boo-primary;
                }

                .invalid-feedback {
                    top: 98px;
                    position: absolute;
                    right: 2rem;
                    text-align: end;
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px $boo-gray-700 inset !important;
                    border-color: gray;
                    -webkit-text-fill-color: $boo-lighter !important;
                    /* Change text color */
                }
            }

            .form_input_file {
                margin-top: 1.5rem;
                position: relative;

                label {
                    padding-inline: 1.5rem;
                    color: $boo-primary;
                    padding-bottom: .4rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 500;
                }

                input {
                    height: 58px;
                    border-radius: 58px;
                    background-color: $boo-gray-700;
                    border-color: $boo-gray-700;
                    caret-color: $boo-primary;
                }

                input::file-selector-button {
                    background-color: $boo-gray-800;
                    height: 58px;
                    border-radius: 58px;
                    padding-inline: 2rem;
                    color: $boo-lighter;
                    font-size: 1.1rem;
                }

                .invalid-feedback {
                    top: 98px;
                    position: absolute;
                    right: 2rem;
                    text-align: end;
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px $boo-gray-700 inset !important;
                    border-color: gray;
                    -webkit-text-fill-color: $boo-lighter !important;
                    /* Change text color */
                }
            }

            .form_input_checkGroup {
                padding: 1rem;
                position: relative;
                background-color: $boo-gray-700;
                border-radius: 2rem;
                border: 1px solid transparent;

                .d-flex {
                    gap: .5rem;
                }

                label {
                    padding: .6rem 1.2rem;
                    margin: .1rem 0;
                    color: $boo-gray-500;
                    letter-spacing: 1px;
                    font-weight: 500;
                    border-color: $boo-gray-500;
                }

                input {
                    height: 58px;
                    font-size: 1.1rem;
                    caret-color: $boo-primary;
                }

                .invalid-feedback {
                    top: 98px;
                    position: absolute;
                    right: 2rem;
                    text-align: end;
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px $boo-gray-700 inset !important;
                    border-color: gray;
                    -webkit-text-fill-color: $boo-lighter !important;
                    /* Change text color */
                }
            }
        }
    }

    .bottom {
        border-radius: 2rem;
        padding: 6rem 3rem 2.1rem 3rem;
        position: absolute;
        bottom: -7.6rem;
        background-color: $boo-darker;
        width: 100%;
        z-index: -1;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn_primary {
            background-color: $boo-primary;
            padding-inline: 2.5rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3.5rem;
            color: $boo-lighter;
            position: relative;
            z-index: 1;
            overflow: hidden;
            border-color: $boo-primary;

            &::after {
                position: absolute;
                content: '';
                width: 200px;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: $boo-gray-700;
                z-index: -1;
                transform: translate(-100%, 100%) scale(.5);
                transition: transform .4s ease;
            }

            &:hover::after {
                transform: translate(0%, 0%) scale(1);
            }
        }
    }
}

.already {
    // margin-left: 1.3rem;
    margin-left: 0rem;

    a {
        color: $boo-secondary-dark;
        color: $boo-gray-600;
        text-decoration: none;
        transition: .25s ease;
        display: block;

        &:hover {
            color: $boo-secondary-dark;
        }
    }

    .required_fields {
        color: $boo-primary;
        margin-top: .5rem;

        h5 {
            font-size: 1rem;
        }
    }

    // a:nth-child(2) {
    //     margin-top: .2rem;
    // }
}

@media only screen and (max-width: 500px) {

    hr {
        display: none;
    }

    .register_form .top .title h5 {
        font-size: 1.8rem;
    }

    .register_form .top .title img {
        display: none;
    }

    .register_form .bottom {
        padding: 8rem 1.5rem 2.1rem 1.5rem;
        bottom: -9rem;
    }

    .already {
        a {
            font-size: .9rem;
        }
    }
}


.btn-outline-light:hover {
    border: 1px white solid !important;
}

input {
    position: relative;
}

.custom_error {
    position: absolute;
    top: 6.3rem;
    right: 2.5rem;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: .2px;
    color: $boo-secondary-dark;
    color: #fb4848;
}

.custom_error.cousines_error {
    top: auto;
    bottom: -1.8rem;
}