$boo-lighter: #ffffff;
$boo-darker: #151515;
$boo-dark: #333333;
$boo-gray-800: #232323;
$boo-gray-700: #454545;
$boo-gray-600: #5B5B5B;
$boo-gray-500: #8d8d8d;
$boo-gray-400: #C9C9C9;
$boo-gray-300: #D9D9D9;
$boo-primary: #9667AA;
$boo-secondary-dark: #F2C94C;
// $boo-secondary-darker: #81671a;
$boo-secondary: #ECE7BE;
$boo-secondary-light: #F7F6F2;